#title{
    color:black;
}
body{
    background-color:powderblue;
}
#top_bar{
    background-color:lightblue;
}

#send_message_area{
    background-color:lightblue;
}
#welcome_message{
    color:black;
}
#refresh_btn{
    color:black;
    background-color:white;
}
#refresh_btn:hover{
    background-color:lightgray;
}
#chat_log_container{
    background-color:slategray;
}

#chat_log{
    background-color:slategrey;
}


.chat_log_block{
    color:black;
    background-color:white;
    border:1px solid pink;
}
#chat_window{
    border-color:white;
}
